IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 80
PointerAlignment: Left
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
BreakBeforeBraces: Attach
AlignAfterOpenBracket: false
BinPackParameters: OnePerLine
BinPackArguments: false
